<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <base href="../">
        <meta charset="utf-8">
        <title>Angular Framework</title>
        <script type="text/javascript" src="framework/libs/requirejs/require.js"></script>
        <script type="text/javascript" src="framework/libs/jquery/dist/jquery.min.js"></script>        
        <script type="text/javascript" src="framework/libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="framework/libs/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="framework/main.js" defer></script>
    </head>
    <body ng-controller="appController">
        <head>
            <nav>
                <ul>
                    <li ng-repeat="item in navs.items" ng-click="navs.onItemClick(item)" ng-bind="item.displayName"></li>
                </ul>
            </nav>
        </head>
        <div ncy-breadcrumb></div>
        <article>
            <div ui-view></div>
        </article>
        <footer></footer>
    </body>
</html>